.top_nav {
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  padding: 0 50px;
}

.main_list{
  width: 80%;
  margin: 100px auto;
}

.top_nav ul li{
  font-weight: bold;
}

.write-btn{
  color: #8fd3f4;
  background-color: white;
}

.write-btn:hover {
  color: white;
  background-color: #84fab0;
}

textarea{
  width: 100%;
  height: 30rem;
}

::-webkit-scrollbar {
display:none;
}

.writeButton{
  margin-left: 365px;
  margin-bottom: 20px;
}
